
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4">
            <img [src]="movie.large_cover_image" width="100%" />
        </div>
        <div class="col-sm-8">
            <h1>{{movie.title}}</h1>
            <p>{{movie.description_full}}</p>

            <div class="row">
                <div class="col-sm-6" *ngFor="let t of movie.torrents">
                    <a class="btn btn-primary"  style="width:100%" [href]="t.url" download>{{t.quality}}</a>
                </div>
                
            </div>
        </div>
        
    </div>
</div>