

<div class="container">
    <h1>Contact page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, porro, asperiores dolorem, nisi quaerat ex animi laborum voluptate quo deleniti officiis repellat! Quaerat, aliquam inventore! Repellendus aspernatur corporis nihil excepturi!
    Vero, laboriosam mollitia corrupti impedit nesciunt veniam minima error aspernatur voluptas, quae obcaecati vitae sit delectus rem, aliquid a labore odit autem ex qui explicabo voluptatum. Maiores, tenetur magnam? Placeat?</p>




</div>