Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, nesciunt perspiciatis molestias necessitatibus inventore fugiat adipisci error dolores iure, voluptatum maxime. Magni asperiores repellat repellendus iure possimus soluta ad quisquam.
In facilis incidunt eos odio quasi, provident iure pariatur sunt autem debitis, officia id ullam temporibus ea nemo obcaecati reiciendis aliquam doloremque. Magni similique laborum sint praesentium pariatur eaque ex.
Facilis, obcaecati? Accusamus molestias architecto quasi quos neque laborum, eum omnis nam temporibus laboriosam voluptas provident, earum nostrum labore exercitationem enim ipsum modi vel veniam eveniet assumenda praesentium. Nemo, a!


<ul>
    <li *ngFor="let a of articles">
        <a [routerLink]="'/article/'+a">{{a}}</a>
    </li>
</ul>