/* You can add global styles to this file, and also import other style files */

.main{
    width: 100%;
    background-color: red;
    position: relative;
    height: 100vh;
}

.wrapper{
    width: 50%;
    left: 25%;
    background-color: white;
    position: absolute;
    height: 50vh;
    top: 25vh;
}

.active{
    font-weight: bold;
}